<div class="content-wrapper">
  <div class="content-block">
  <% @posts.each do |post| %>
  <div class="content">
    <div class="user-about">
     <div class="image">
        <% if post.user.image.attached? %>
          <%= image_tag post.user.image %>
        <% else %>
          <%= image_tag "nouser.png" %>
        <% end %>
     </div>
     <div class="profile">
      
       <div class="name">
        <%= post.user.name %>
       </div>
      
      <div class="purpose">
        <%= "お一言: #{post.user.purpose}" %>
      </div>
     </div>
    </div>

      <div class="text">
      <p><%= post.content %></p>
      </div>

      <% if post.images.attached? %>
      <div class="images">
       <% post.images.each do |image| %>
        <%= image_tag image %>
        <% end %>
      </div>
      <% end %>

      <div class="action-menu">
        <div class="comment">
        </div>
      </div>
      </div>
      <% end %>
  </div>
</div>